#particles-js {
  height: 100vh;
  width: 100%;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

.highlight {
  font-weight: lighter;
}

#typewriter {
  font-size: 60px;
  font-family: "B612", sans-serif;
  font-weight: 700;
  margin: 350px 250px;
  position: absolute;
  color: #b79eb9;
}
